<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        {% if name %}
        <h1>Hello {{name}}</h1>
        {% endif %}

        <form method="POST">
            <input type="text" name="login">
            <input type="text" name="mdp">
            <input type="submit" value="Valider">
        </form>
        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}

    </body>
</html>